USE master
GO

/****** Object:  Database [IT_Fair]    Script Date: 24/10/2018 10:16:38 ******/
CREATE DATABASE [IT_Fair]



ALTER DATABASE [IT_Fair] SET COMPATIBILITY_LEVEL = 110
GO


USE [IT_Fair]
GO


/****** Object:  Table [dbo].[Palabra]    Script Date: 24/10/2018 10:16:38 ******/
SET ANSI_NULLS ON
GO


SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [dbo].[Palabra](
	[ID_Palabra] [nchar](10) NOT NULL,
	[Palabra] [nvarchar](50) NOT NULL,
	[Imagen] [image] NOT NULL,
	[Traduccion] [nvarchar](50) NOT NULL,
	[Sinonimo] [nvarchar](50) NOT NULL,
	[Antonimo] [nvarchar](50) NOT NULL,
	[Ejemplo] [nvarchar](50) NOT NULL,
	[ID_TipoPalabra] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Palabra] PRIMARY KEY CLUSTERED 
(
	[ID_Palabra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

/****** Object:  Table [dbo].[TipoPalabra]    Script Date: 24/10/2018 10:16:38 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[TipoPalabra](
	[ID_TipoPalabra] [nchar](10) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoPalabra] PRIMARY KEY CLUSTERED 
(
	[ID_TipoPalabra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[Palabra]  WITH CHECK ADD  CONSTRAINT [FK_Palabra_TipoPalabra] FOREIGN KEY([ID_TipoPalabra])
REFERENCES [dbo].[TipoPalabra] ([ID_TipoPalabra])
GO
ALTER TABLE [dbo].[Palabra] CHECK CONSTRAINT [FK_Palabra_TipoPalabra]
GO
USE [master]
GO


INSERT INTO [IT_Fair].[dbo].[TipoPalabra] VALUES (1,'noun')
INSERT INTO [IT_Fair].[dbo].[TipoPalabra] VALUES (2,'Adverb')
INSERT INTO [IT_Fair].[dbo].[TipoPalabra] VALUES (3,'Verb')
GO
